name: 11 - Working with Inputs

on: 
  workflow_dispatch:
    inputs:
      dry-run:
        type: boolean
        description: "Skip deployment and only print build output"
        required: true
        default: false
      target:
        type: environment
        description: "Which environment the workflow will target"
        required: true
      tag:
        type: choice
        description: "Your name"
        required: true
        default: "v1"
        options:
          - v1
          - v2
          - v3

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Print inputs
        run: |
          echo "Building from tag: ${{ inputs.tag }}"
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Print inputs
        run: |
          echo "Deploying to environment: ${{ inputs.target }}"